/* Color customization */

/*! purgecss start ignore */
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --duration: 1;
  --responsive-base: 1;
  --background-default: rgb(255 255 255);
  --background-alternate: rgb(249 249 249);
  --background-screen: rgb(249 249 249);
  --background-button-primary-active: rgb(72 172 152);
  --background-button-primary-pressed: rgb(72 172 152);
  --background-button-primary-disabled: rgb(232 242 238);
  --background-button-secondary: rgb(255 255 255);
  --background-container-teal: rgb(72 172 152);
  --background-container-rhubarb: rgb(203 124 122);
  --background-container-wheat: rgb(200 157 88);
  --background-container-petrol: rgb(43 105 122);
  --background-container-secondary-teal: rgb(204 227 218);
  --background-container-secondary-rhubarb: rgb(235 214 214);
  --background-container-secondary-wheat: rgb(235 221 204);
  --background-container-secondary-petrol: rgb(204 220 226);
  --background-container-light: rgb(242 242 242);
  --background-container-light-teal: rgb(232 242 238);
  --background-container-light-rhubarb: rgb(242 228 228);
  --background-container-light-wheat: rgb(242 236 225);
  --background-container-light-petrol: rgb(233 238 242);
  --background-container-lightest-petrol: rgb(233 238 242);
  --background-container-dark-teal: rgb(42 126 109);
  --background-container-dark-wheat: rgb(140 108 58);
  --background-container-dark-petrol: rgb(9 61 77);
  --background-container-dark-rhubarb: rgb(158 89 87);
  --background-container-alpha-teal: rgb(72 172 152 / 50%);
  --background-container-alpha-wheat: rgb(205 163 95 / 50%);
  --background-container-alpha-petrol: rgb(38 102 120 / 50%);
  --background-container-alpha-rhubarb: rgb(203 124 122 / 50%);
  --background-light-error-red: rgb(248 237 237);
  --background-info-card: rgb(233 233 233);
  --typography-primary-default: rgb(27 27 27);
  --typography-primary-inverted: rgb(255 255 255);
  --typography-primary-consistent: rgb(27 27 27);
  --typography-primary-inverted-consistent: rgb(255 255 255);
  --typography-secondary-default: rgb(105 105 105);
  --typography-secondary-consistent: rgb(105 105 105);
  --typography-disabled: rgb(171 171 171);
  --typography-interactive-primary-teal-consistent: rgb(54 161 139);
  --typography-interactive-primary-wheat-consistent: rgb(200 157 88);
  --typography-interactive-primary-petrol-default: rgb(43 105 122);
  --typography-interactive-primary-petrol-consistent: rgb(43 105 122);
  --typography-interactive-primary-rhubarb-default: rgb(179 93 91);
  --typography-interactive-primary-rhubarb-consistent: rgb(179 93 91);
  --typography-interactive-secondary-teal-default: rgb(31 117 96);
  --typography-interactive-secondary-teal-consistent: rgb(31 117 96);
  --typography-interactive-secondary-wheat-consistent: rgb(166 121 49);
  --typography-interactive-secondary-petrol-default: rgb(32 91 107);
  --typography-interactive-secondary-petrol-consistent: rgb(32 91 107);
  --typography-interactive-secondary-rhubarb-consistent: rgb(142 70 68);
  --typography-positive-amount: rgb(54 161 139);
  --border-primary-gray: rgb(233 233 233);
  --border-primary-teal: rgb(31 117 96);
  --border-primary-petrol: rgb(24 81 97);
  --border-primary-wheat: rgb(128 91 32);
  --border-primary-rhubarb: rgb(142 70 68);
  --border-secondary-gray: rgb(150 150 150);
  --border-secondary-teal: rgb(54 161 139);
  --border-secondary-petrol: rgb(43 105 122);
  --border-secondary-wheat: rgb(166 121 49);
  --border-secondary-rhubarb: rgb(179 93 91);
  --divider-default: rgb(233 233 233);
  --divider-default-consistent: rgb(233 233 233);
  --background-screen-default: rgb(255 255 255);
  --background-container-primary-default: rgb(255 255 255);
  --background-container-primary-teal: rgb(54 161 139);
  --background-container-primary-wheat: rgb(200 157 88);
  --background-container-primary-petrol: rgb(43 105 122);
  --background-container-primary-rhubarb: rgb(179 93 91);
  --background-container-primary-gray: rgb(150 150 150);
  --background-container-primary-hovered: rgb(249 249 249);
  --background-container-primary-pressed: rgb(242 242 242);
  --background-elevated-container-primary-default: rgb(255 255 255);
  --background-container-secondary-gray: rgb(233 233 233);
  --background-container-tertiary-teal: rgb(232 242 238);
  --background-container-tertiary-teal-pressed: rgb(204 227 218);
  --background-container-tertiary-wheat: rgb(242 236 225);
  --background-container-tertiary-wheat-pressed: rgb(235 221 204);
  --background-container-tertiary-petrol: rgb(233 238 242);
  --background-container-tertiary-petrol-pressed: rgb(204 220 226);
  --background-container-tertiary-rhubarb: rgb(242 232 232);
  --background-container-tertiary-rhubarb-pressed: rgb(235 214 214);
  --background-container-tertiary-gray: rgb(242 242 242);
  --background-container-tertiary-gray-pressed: rgb(233 233 233);
  --background-error: rgb(242 232 232);
  --background-positive-amount: rgb(232 242 238);
  --background-navigation-bottom: rgb(255 255 255);
  --background-button-primary-teal-default: rgb(54 161 139);
  --background-button-primary-teal-pressed: rgb(31 117 96);
  --background-button-primary-teal-disabled: rgb(130 196 178);
  --background-button-primary-teal-hover-and-focused: rgb(54 161 139);
  --background-button-primary-wheat-default: rgb(166 121 49);
  --background-button-primary-wheat-pressed: rgb(128 91 32);
  --background-button-primary-wheat-disabled: rgb(225 197 161);
  --background-button-primary-wheat-hover-and-focused: rgb(166 121 49);
  --background-button-primary-petrol-default: rgb(43 105 122);
  --background-button-primary-petrol-pressed: rgb(24 81 97);
  --background-button-primary-petrol-disabled: rgb(204 220 226);
  --background-button-primary-petrol-hover-and-focused: rgb(43 105 122);
  --background-button-primary-rhubarb-default: rgb(179 93 91);
  --background-button-primary-rhubarb-pressed: rgb(142 70 68);
  --background-button-primary-rhubarb-disabled: rgb(222 172 171);
  --background-button-primary-rhubarb-hover-and-focused: rgb(179 93 91);
  --background-button-secondary-default: rgb(255 255 255);
  --background-button-secondary-pressed: rgb(242 242 242);
  --background-button-tertiary-teal-pressed: rgb(232 242 238);
  --background-button-tertiary-wheat-pressed: rgb(242 236 225);
  --background-button-tertiary-petrol-pressed: rgb(233 238 242);
  --background-button-tertiary-rhubarb-pressed: rgb(242 232 232);
  --background-button-tertiary-hover-and-focused: rgb(255 255 255);
  --overlay-default: rgb(27 27 27);
  --overlay-default-consistent: rgb(27 27 27);
  --shadow-default: rgb(0 0 0 / 20%);
  --phone-frame-foreground: rgb(233 233 233);
  --phone-frame-background: rgb(249 249 249);
  --iconography-primary-default: rgb(27 27 27);
  --iconography-primary-consistent: rgb(27 27 27);
  --iconography-primary-default-inverted: rgb(255 255 255);
  --iconography-primary-inverted-consistent: rgb(255 255 255);
  --iconography-secondary-default: rgb(105 105 105);
  --iconography-disabled: rgb(171 171 171);
  --iconography-interactive-primary-teal-consistent: rgb(54 161 139);
  --iconography-interactive-primary-teal-disabled: rgb(130 196 178);
  --iconography-interactive-primary-petrol-default: rgb(43 105 122);
  --iconography-interactive-primary-petrol-consistent: rgb(43 105 122);
  --iconography-interactive-primary-petrol-disabled: rgb(121 161 173);
  --iconography-interactive-primary-rhubarb-default: rgb(179 93 91);
  --iconography-interactive-primary-rhubarb-consistent: rgb(179 93 91);
  --iconography-interactive-primary-rhubarb-disabled: rgb(222 172 171);
  --iconography-interactive-secondary-teal-default: rgb(31 117 96);
  --iconography-interactive-secondary-teal-consistent: rgb(31 117 96);
  --iconography-interactive-secondary-petrol-default: rgb(32 91 107);
  --iconography-interactive-secondary-petrol-consistent: rgb(32 91 107);
  --progress-background: rgb(204 227 218);
  --progress-foreground: rgb(54 161 139);
  --shimmer-loader-background: rgb(242 242 242);
  --shimmer-loader-foreground: rgb(249 249 249);
  --bright-overlay: rgb(255 255 255 / 75%);
  --mild-overlay: rgb(0 0 0 / 7.5%);
  --distinct-overlay: rgb(0 0 0 / 20%);
  --primary-focus: rgb(54 161 139 / 60%);
  --typography-default: rgb(18 18 18);
  --typography-default-inverted: rgb(255 255 255);
  --typography-default-consistent: rgb(18 18 18);
  --typography-default-inverted-consistent: rgb(255 255 255);
  --typography-interactive-rhubarb: rgb(203 124 122);
  --typography-interactive-default: rgb(72 172 152);
  --typography-interactive-teal: rgb(72 172 152);
  --typography-extra-light: rgb(191 191 191);
  --typography-light: rgb(116 116 116);
  --typography-error: rgb(180 75 70);
  --divider-teal: rgb(72 172 152);
  --divider-error: rgb(180 75 70);
  --divider-dark: rgb(116 116 116);
  --iconography-default: rgb(18 18 18);
  --iconography-default-inverted: rgb(255 255 255);
  --iconography-light: rgb(116 116 116);
  --iconography-bright: rgb(233 233 233);
  --iconography-action: rgb(72 172 152);
  --iconography-rhubarb: rgb(179 93 91);
  --shimmer-background: rgb(233 233 233);
  --shimmer-foreground: rgb(249 249 249);
  --deprecated-gray: rgb(201 201 201);
  --spacing-5-xl: 4.4em;
  --spacing-4-xl: 3.85em;
  --spacing-3-xl: 3.3em;
  --spacing-2-xl: 2.75em;
  --spacing-xl: 2.2em;
  --spacing-l: 1.65em;
  --spacing-m: 1.1em;
  --spacing-s: 0.88em;
  --spacing-xs: 0.825em;
  --spacing-2-xs: 0.55em;
  --spacing-3-xs: 0.275em;
  --spacing-4-xs: 0.22em;
  --spacing-5-xs: 0.165em;
  --spacing-6-xs: 0.11em;
  --font-size-6-xl: 2.8rem;
  --font-size-5-xl: 2.2rem;
  --font-size-4-xl: 2rem;
  --font-size-3-xl: 1.8rem;
  --font-size-2-xl: 1.5rem;
  --font-size-xl: 1.3rem;
  --font-size-l: 1.2rem;
  --font-size-m: 1.1rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.9rem;
  --font-size-2-xs: 0.85rem;
  --font-size-3-xs: 0.8rem;
  --font-size-4-xs: 0.7rem;
  --font-size-5-xs: 0.6rem;
  --line-height-5-xl: 1.8;
  --line-height-4-xl: 1.7;
  --line-height-3-xl: 1.6;
  --line-height-2-xl: 1.5;
  --line-height-xl: 1.45;
  --line-height-l: 1.4;
  --line-height-m: 1.2;
  --line-height-s: 1.1;
  --line-height-xs: 1;
  --width-7-xl: 88ch;
  --width-6-xl: 77ch;
  --width-5-xl: 71.5ch;
  --width-4-xl: 66ch;
  --width-3-xl: 49.5ch;
  --width-2-xl: 48.4ch;
  --width-xl: 44ch;
  --width-l: 41.8ch;
  --width-m: 33ch;
  --width-s: 27.5ch;
  --width-xs: 22ch;
  --width-2-xs: 15.4ch;
  --width-3-xs: 13.2ch;
  --width-4-xs: 11ch;
  --width-5-xs: 8.8ch;
  --width-6-xs: 5.5ch;
  --width-7-xs: 3.3ch;
  --width-8-xs: 1.1ch;
  --width-9-xs: 0.825ch;
  --width-10-xs: 0.55ch;
  --width-11-xs: 0.33ch;
  --width-12-xs: 0.11ch;
  --border-radius-5-xl: 34px;
  --border-radius-4-xl: 27px;
  --border-radius-3-xl: 22px;
  --border-radius-2-xl: 14px;
  --border-radius-xl: 10px;
  --border-radius-l: 8px;
  --border-radius-m: 6px;
  --border-radius-s: 5px;
  --border-radius-xs: 4px;
  --border-radius-2-xs: 2px;
  --border-radius-credit-card: 3% 5%;
  --border-radius-half: 50%;
  --border-radius-circle: 100vw;

  scroll-behavior: smooth;

  --heading-font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --body-font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --monospace-font-family: consolas, monaco, andale mono, ubuntu mono, monospace;
  --bold-font-weight: 600;
  --medium-font-weight: 500;
  --regular-font-weight: 400;
}

:root {
  --main-width: calc(100vw - 3rem);
}

@media (min-width: 50rem) {
  :root {
    --main-width: calc(50rem - 3rem);
  }
}

/*! purgecss end ignore */

/* --------------------------------------------------------------------------
Single variable font.

Note that you may want to do something like this to make sure you're serving
constant fonts to older browsers:
html {
  font-family: 'Inter UI', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter UI var', sans-serif;
  }
}
*/
@font-face {
  font-family: "Inter UI";
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/Inter-3.19.var.woff2") format("woff2");
}

*,
::before,
::after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--background-container-secondary-wheat);
}

html {
  background-color: #ffffff;
  box-sizing: border-box;
  font-weight: 400;
  min-height: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: var(--line-height-2-xl);
  font-family: var(--body-font-family);
  color: var(--typography-default);
}

h1 {
  font-size: var(--font-size-5-xl);
  line-height: var(--line-height-m);
  font-weight: var(--bold-font-weight);
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8125rem;
  line-height: var(--line-height-m);
  font-weight: var(--medium-font-weight);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.3125rem;
  line-height: var(--line-height-m);
  font-weight: var(--medium-font-weight);
  margin-bottom: 1rem;
}


p {
  margin-top: 0;
  margin-bottom: var(--spacing-m);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-image: linear-gradient(var(--typography-default),var(--typography-default));
  background-size: 100% 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

time {
  text-transform: uppercase;
}

table {
  display: table;
  overflow-x: auto;
}

th {
  font-weight: var(--medium-font-weight);
}

td,
th {
  border-bottom: 1px solid var(--border-primary-gray);
  overflow: auto;
  padding: 0.75rem;
  text-align: left;
  vertical-align: top;
}

thead th {
  border-bottom: 1px solid var(--border-secondary-gray);
}

blockquote {
  border-left: 2px solid var(--border-primary-gray);
  padding: 0 1rem;
  margin: 1rem 0 1rem 1rem;
}

/* header */
header {
  width: var(--main-width);
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border-primary-gray);
}

nav {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em 1.5em;
  background: rgba( var(--background-alternate), 0.8);
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

nav h1 {
  font-size: inherit;
  margin: 0;
}

nav a {
  font-family: var(--heading-font-family);
  font-weight: var(--medium-font-weight);
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--main-width);
  margin: auto;
}

main {
  max-width: var(--main-width);
  min-height: calc(100vh - 56px - 82px - 120px - 64px);
  margin: 2rem auto;
}

img,
video {
  max-width: 100%;
}

/*
  Make image rasterization lazy. This means that e.g. the cost of the
  blurry placeholder is never paid if images load before entering
  the viewport.
  Context
  - https://web.dev/content-visibility/#skipping-rendering-work-with-content-visibility
 */
main img {
  content-visibility: auto;
}

/* Avoid the header hiding the content on anchor scroll. */
article * {
  scroll-margin-top: 56px;
}

footer {
  background-color: var(--background-container-secondary-teal);
  text-align: center;
  padding: 3rem;
}

/* homepage: post list */
#posts article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#posts h4 {
  margin: 0;
}

#posts time {
  color: var(--typography-secondary-default);
}

/* single post page */
#post a {
  color: var(--typography-interactive-default);
}

.reading {
  padding: 0.25rem 0.5rem;
  background-color: var(--background-info-card);
  font-size: 0.75rem;
  border-radius: 6px;
}

/* code syntax */

code {
  color: var(--typography-interactive-primary-wheat-consistent);
  font-family: var(--monospace-font-family);
  font-size: 0.9em;
  white-space: pre-wrap;
  word-break: break-word;
}

code[class*="language-"] {
  padding: 0;
}

code:not([class*="language-"])::before,
code:not([class*="language-"])::after {
  content: "`";
}

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: var(--monospace-font-family);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: var(--line-height-2-xl);
  tab-size: 4;
  hyphens: none;
  border-radius: 0.25rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.function,
.token.number {
  color: #f08d49;
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f8c555;
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #7ec699;
}

.token.entity,
.token.operator,
.token.url {
  color: #67cdcc;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

/* GitHub */
#post {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

#post .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

#post h1:hover .direct-link:before,
#post h2:hover .direct-link:before,
#post h3:hover .direct-link:before,
#post h4:hover .direct-link:before,
#post h5:hover .direct-link:before,
#post h6:hover .direct-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

#post details,
#post figcaption,
#post figure {
  display: block;
}

#post summary {
  display: list-item;
}

#post [hidden] {
  display: none !important;
}

#post a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

#post a:active,
#post a:hover {
  outline-width: 0;
}

#post abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

#post b,
#post strong {
  font-weight: 600;
}

#post dfn {
  font-style: italic;
}

#post h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

#post mark {
  background-color: #fff8c5;
  color: #24292f;
}

#post small {
  font-size: 90%;
}

#post sub,
#post sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#post sub {
  bottom: -0.25em;
}

#post sup {
  top: -0.5em;
}

#post img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

#post code,
#post kbd,
#post pre,
#post samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

#post figure {
  margin: 1em 40px;
}

#post hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210,18%,87%,1);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

#post input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#post [type=button],
#post [type=reset],
#post [type=submit] {
  -webkit-appearance: button;
}

#post [type=button]::-moz-focus-inner,
#post [type=reset]::-moz-focus-inner,
#post [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

#post [type=button]:-moz-focusring,
#post [type=reset]:-moz-focusring,
#post [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

#post [type=checkbox],
#post [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

#post [type=number]::-webkit-inner-spin-button,
#post [type=number]::-webkit-outer-spin-button {
  height: auto;
}

#post [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

#post [type=search]::-webkit-search-cancel-button,
#post [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

#post ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

#post ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

#post a:hover {
  text-decoration: underline;
}

#post hr::before {
  display: table;
  content: "";
}

#post hr::after {
  display: table;
  clear: both;
  content: "";
}

#post table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

#post td,
#post th {
  padding: 0;
}

#post details summary {
  cursor: pointer;
}

#post details:not([open])>*:not(summary) {
  display: none !important;
}

#post kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175,184,193,0.2);
  border-bottom-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}

#post h1,
#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#post h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

#post h3 {
  font-weight: 600;
  font-size: 1.25em;
}

#post h4 {
  font-weight: 600;
  font-size: 1em;
}

#post h5 {
  font-weight: 600;
  font-size: .875em;
}

#post h6 {
  font-weight: 600;
  font-size: .85em;
  color: #57606a;
}

#post p {
  margin-top: 0;
  margin-bottom: 10px;
}

#post blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: .25em solid #d0d7de;
}

#post ul,
#post ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

#post ol ol,
#post ul ol {
  list-style-type: lower-roman;
}

#post ul ul ol,
#post ul ol ol,
#post ol ul ol,
#post ol ol ol {
  list-style-type: lower-alpha;
}

#post dd {
  margin-left: 0;
}

#post tt,
#post code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

#post pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

#post .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

#post ::placeholder {
  color: #6e7781;
  opacity: 1;
}

#post input::-webkit-outer-spin-button,
#post input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

#post .pl-c {
  color: #6e7781;
}

#post .pl-c1,
#post .pl-s .pl-v {
  color: #0550ae;
}

#post .pl-e,
#post .pl-en {
  color: #8250df;
}

#post .pl-smi,
#post .pl-s .pl-s1 {
  color: #24292f;
}

#post .pl-ent {
  color: #116329;
}

#post .pl-k {
  color: #cf222e;
}

#post .pl-s,
#post .pl-pds,
#post .pl-s .pl-pse .pl-s1,
#post .pl-sr,
#post .pl-sr .pl-cce,
#post .pl-sr .pl-sre,
#post .pl-sr .pl-sra {
  color: #0a3069;
}

#post .pl-v,
#post .pl-smw {
  color: #953800;
}

#post .pl-bu {
  color: #82071e;
}

#post .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

#post .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

#post .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

#post .pl-ml {
  color: #3b2300;
}

#post .pl-mh,
#post .pl-mh .pl-en,
#post .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

#post .pl-mi {
  font-style: italic;
  color: #24292f;
}

#post .pl-mb {
  font-weight: bold;
  color: #24292f;
}

#post .pl-md {
  color: #82071e;
  background-color: #FFEBE9;
}

#post .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

#post .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

#post .pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}

#post .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

#post .pl-ba {
  color: #57606a;
}

#post .pl-sg {
  color: #8c959f;
}

#post .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

#post [data-catalyst] {
  display: block;
}

#post g-emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

#post g-emoji img {
  width: 1em;
  height: 1em;
}

#post::before {
  display: table;
  content: "";
}

#post::after {
  display: table;
  clear: both;
  content: "";
}

#post>*:first-child {
  margin-top: 0 !important;
}

#post>*:last-child {
  margin-bottom: 0 !important;
}

#post a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#post .absent {
  color: #cf222e;
}

#post .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

#post .anchor:focus {
  outline: none;
}

#post p,
#post blockquote,
#post ul,
#post ol,
#post dl,
#post table,
#post pre,
#post details {
  margin-top: 0;
  margin-bottom: 16px;
}

#post blockquote>:first-child {
  margin-top: 0;
}

#post blockquote>:last-child {
  margin-bottom: 0;
}

#post sup>a::before {
  content: "[";
}

#post sup>a::after {
  content: "]";
}

#post h1 .octicon-link,
#post h2 .octicon-link,
#post h3 .octicon-link,
#post h4 .octicon-link,
#post h5 .octicon-link,
#post h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

#post h1:hover .anchor,
#post h2:hover .anchor,
#post h3:hover .anchor,
#post h4:hover .anchor,
#post h5:hover .anchor,
#post h6:hover .anchor {
  text-decoration: none;
}

#post h1:hover .direct-link,
#post h2:hover .direct-link,
#post h3:hover .direct-link,
#post h4:hover .direct-link,
#post h5:hover .direct-link,
#post h6:hover .direct-link {
  visibility: visible;
}

#post h1 tt,
#post h1 code,
#post h2 tt,
#post h2 code,
#post h3 tt,
#post h3 code,
#post h4 tt,
#post h4 code,
#post h5 tt,
#post h5 code,
#post h6 tt,
#post h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

#post ul.no-list,
#post ol.no-list {
  padding: 0;
  list-style-type: none;
}

#post ol[type="1"] {
  list-style-type: decimal;
}

#post ol[type=a] {
  list-style-type: lower-alpha;
}

#post ol[type=i] {
  list-style-type: lower-roman;
}

#post div>ol:not([type]) {
  list-style-type: decimal;
}

#post ul ul,
#post ul ol,
#post ol ol,
#post ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

#post li>p {
  margin-top: 16px;
}

#post li+li {
  margin-top: .25em;
}

#post dl {
  padding: 0;
}

#post dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

#post dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

#post table th {
  font-weight: 600;
}

#post table th,
#post table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

#post table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210,18%,87%,1);
}

#post table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#post table img {
  background-color: transparent;
}

#post img[align=right] {
  padding-left: 20px;
}

#post img[align=left] {
  padding-right: 20px;
}

#post .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

#post span.frame {
  display: block;
  overflow: hidden;
}

#post span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

#post span.frame span img {
  display: block;
  float: left;
}

#post span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

#post span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

#post span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

#post span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

#post span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

#post span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

#post span.align-right span img {
  margin: 0;
  text-align: right;
}

#post span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

#post span.float-left span {
  margin: 13px 0 0;
}

#post span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

#post span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

#post code,
#post tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}
/* 
#post code br,
#post tt br {
  display: none;
} */

#post del code {
  text-decoration: inherit;
}

#post pre code {
  font-size: 100%;
}

#post pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#post .highlight {
  margin-bottom: 16px;
}

#post .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#post .highlight pre,
#post pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

#post pre code,
#post pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

#post .csv-data td,
#post .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

#post .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

#post .csv-data tr {
  border-top: 0;
}

#post .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

#post .footnotes {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

#post .footnotes ol {
  padding-left: 16px;
}

#post .footnotes li {
  position: relative;
}

#post .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

#post .footnotes li:target {
  color: #24292f;
}

#post .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

#post .task-list-item {
  list-style-type: none;
}

#post .task-list-item label {
  font-weight: 400;
}

#post .task-list-item.enabled label {
  cursor: pointer;
}

#post .task-list-item+.task-list-item {
  margin-top: 3px;
}

#post .task-list-item .handle {
  display: none;
}

#post .task-list-item-checkbox {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

#post .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

#post ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
